body {
    background-image: url(Images/Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color:  black;
    font-size: 8pt;
	font-family: Verdana, Tahoma, sans-serif;
    
}
#title{
    text-align: center;
	font-size: 24pt;
	font-weight: bold;
	font-family: Tahoma, Verdana, sans-serif;
	text-shadow: 3px 3px #999999;
}
#search {
    position: relative;
    left: auto;
    top: 500;
}