<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="ie6 ielt8"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7 ielt8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<title>Paper Flipper</title>
<link rel="stylesheet" type="text/css" href="View/websiteDesign.css" />
</head>
<body>
<div class="container">
  <section id="content">
    <h1>Login</h1>
		<p>Please fill in this form to login to your account.</p>
		<hr>
			
		<form action="index.php" method="post">
	
			<label for="email"><b>Email</b></label>
			<input type="text" name="email"> <br><br>
			
			<label for="password"><b>Password</b></label>
			<input type="password" name="password"> <br><br>
										   
			<input type="hidden" name="flag" value="authenticateUser"> <br><br>
		
			<input type="submit" class="registerbtn" name="Login!"> <br><br>
			
			<p>Need an account?<br>
		    <a style="text-decoration:underline;" href="index.php?flag=register">Register here</a></p>
			
			<p>Forgot Password?<br>
		    <a style="text-decoration:underline;" href="index.php?flag=forgotpassword">Change it here</a></p>
	
		</form>
    
  </section><!-- content -->
</div><!-- container -->
</body>
</html>